{% extends 'base.html.twig' %}

{% block title %}restaurant le district{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-center">
            <div id="fond" class="p-5">
                <form action="" class="mt-4">
                    <input type="search" name="q" placeholder="recheche">
                    <input type="submit" value="rechecher">
                </form>
        </div>
    </div>
</div>
    {% block article %}
    <div class="container">
        <div class="row">
            <h1> catégories</h1>

            <div class="card mb-3">
                <div class="card-header">{{cats.libelle}}</div>
                <div class="card-body">
                    <img src="images_the_district/category/{{cats.image}}" width="200">
                    <h4 class="card-title">
                        <p class="card-text"></p>
                        <a href="{{path("app_categorie")}}" class="btn btn-dark">voir les catégories</a>
      </div>
        </div>

            <h1>plats</h1>
            <div class="card mb-3">
                <div class="card-header">{{plats.libelle}}</div>
                <div class="card-body">
                    <img src="images_the_district/food/{{plats.image}}" width="200">
                    <h4 class="card-title">
                        <p class="card-text"></p>
                        <a href="{{path("app_plat")}}" class="btn btn-dark">voir les plats</a>
      </div>
        </div>


            </div>
             {% endblock %}
            {% endblock %}


